.card img {
    filter: brightness(0.5);
    transition: 0.5s;
}

.card:hover img {
    filter: brightness(.8);
}

.card p {
    font-size: 0.8rem;
}

.card .badge {
    font-size: 0.8rem;
    position: absolute;
    top: 10px;
    right: 10px;
}