nav {
    background-color: black;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    padding: 10px;
    background: linear-gradient(to right, #673ab7, 50%, #ffd740);
    background-size: cover;
    backdrop-filter: saturate(180%) blur(20px);
    border-bottom: 1px solid rgb(194, 194, 194);
}

@media (max-width: 767px) {
  nav {
  height: 20px;
  }
}
  
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
nav li {
    display: inline-block;
    margin-right: 20px;
}
  
nav li a {
    color: white;
    text-decoration: none;
}
  