<app-navbar [links]="links" class="nav-bar" />
<div class="app-container">
    <div class="banner">
        <div class="banner-image">
            <img src="{{ bannerImageUrl }}" class="img-fluid" alt="banner" />
        </div>
        <div class="banner-text">
            <h1>Playcenter</h1>
            <p>Creating worlds of wonder</p>
            <a class="btn btn-primary" href="#">Get Started</a>
        </div>
    </div>
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="text-left">Check out our games</h2>
                    <div class="card-container">
                        <app-card *ngFor="let game of games" [imageUrl]="game.game_spotlight_image" [title]="game.game_name"
                            [description]="game.game_description">
                        </app-card>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>